*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

@media screen and (orientation:portrait){
    .subheader-content{
        width:auto;
        height:100%;
    }
}
@media screen and (orientation:landscape){
    .subheader-content{
        width:100%;
        height:auto;
    }
}

header {
    height: 40px;
}
main{
    min-height: 100%;
    height: auto;
}
footer {
    height: 30px;
}