*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .App, #root{
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

@media screen and (orientation:portrait){
    .subheader-content{
        width:auto;
        height:100%;
    }
}
@media screen and (orientation:landscape){
    .subheader-content{
        width:100%;
        height:auto;
    }
}

header {
    height: 40px;
}
main{
    min-height: calc(100% - 70px);
    height: auto;
}
footer {
    height: 30px;
}

.movie-list, .movie-list-row{
    position: relative;
    min-width: 100%;
    width: auto;
}
.movie-list-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}
.movie-list-card{
    display: inline-flex;
    padding: 0px 2px 4px 2px;
}
.movie-list-card > img{
    width: 175px;
}